<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- The preview build installs beside the normal app (applicationIdSuffix .preview) and says which it is. -->
    <application android:label="nori preview" tools:replace="android:label" />
</manifest>
